
.bg-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
}

.bg-primary h5,
.bg-primary h2,
.bg-primary span {
    color: #fff !important;
}

.bg-primary .progress-bar.progress-bar-success {
    background: #00ff2f;
}

.schedule-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

span.member-name {
    font-weight: bold;
    color: #337ab7;
}

span.member-date {
    color: gray;
}

span.member-price {
    color: green;
    font-weight: bold;
}

.schedule-list {
    height: 285px;
    overflow-x: hidden;
    overflow-y: auto !important;
}

.celebrants {
    margin-top: 15px;
    height: 305px;
    overflow: auto;
    overflow-x: hidden;
}


span.c-name {
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

span.c-date {
    font-size: 11px;
    display: block;
    color: #3f3f3f;
    text-align: center;
}

.celebrants-photo {
    margin-bottom: 5px;
    text-align: center;
}

.celebrants-photo img {
    border-radius: 50%;
    height: auto;
    width: 100%;
    margin: auto;
}

.celebrants-info {
    height: 50px;
}

.savers li {
    font-size: 15px;
}

.savers ol {
    padding: 5px 20px;
}

.savers-name {
    color: #56ff5d;
    padding: 0px 5px;
}

.savers-amount {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffe070;
}

.